{% extends "base.html" %}

{% block style %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>

{% endblock style %}

{% block content %}
<!-- Alert -->
<div id="alert" style="padding-top: 10px;">
   
</div>

<!-- Messaging  -->
<div class="ui container" id="message_container">

    <!-- messages  -->
    <div class="ui list" id="messages"></div>

    <!-- send message input  -->

    <div style="position: absolute; width: 80%; bottom: 10px; left:10%">
        <div class="column">
            <div id="typing"></div>
            <div class="ui fluid action input">
                <input type="text" id="message_input" placeholder="Search...">
                <div class="ui button" id="btnSend">Send</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}